/* Reset CSS */
* {
    font-family: sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
figcaption,
div {
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;

}

html.overflow-hidden,
body.overflow-hidden {
    overflow: hidden;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

header {
    background-color: #3C5BFF;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

nav a:last-child {
    margin-right: 0;
}

#mainpage {
    padding: 20px;
}

.message {
    display: none;
    margin: 10px 0;
}

footer {
    background-color: #3C5BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    flex-shrink: 0;
}

footer a {
    color: white;
}

/* Forum Styles */
#forum {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav #nav-left {
    display: flex;
    align-items: center;
}

nav #nav-right {
    display: flex;
    align-items: center;
}

nav #nav-right a {
    margin-left: 10px;
}

.fas {
    margin-right: 5px;
}

/* FORMULAIRE POUR POSTER UNE REPONSE */
.reponse-form {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
}

.reponse-form button {
    border-radius: 5px;
    border: none;
    color: #fff;
    width: 15%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 20px;
}

.reponse-form button:hover {
    background-color: #221bf0;
}

.reponse-form textarea {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: 100px;
    resize: none;
}

label {
    font-weight: bold;
    margin-bottom: 20px;
}

/* ---------------------------------- */
/* Messages du posts et réponses */

.posts-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.post-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.post-info figure {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-info img {
    border-radius: 100%;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register,
input[type"text"] {
    width: 50%;
}

.submit {
    border: none;
    padding: 5px 15px 5px 15px;
    width: fit-content;
    margin: 20px;
    border-radius: 10px;
    background-color: #221bf0;
    color: #ddd;
}

.submit:hover {
    background-color: #1109fc;
}

/* -------------------------------- */


/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 10px 0;
    }

    #nav-right {
        margin-top: 10px;
    }
}